name: pyscal-testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Cache conda
      uses: actions/cache@v1
      env:
        # Increase this value to reset cache if etc/example-environment.yml has not changed
        CACHE_NUMBER: 0
      with:
        path: ~/conda_pkgs_dir
        key:
          ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
          hashFiles('.ci_support/environment.yml') }}
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: pyscal-test
        channel-priority: strict
        environment-file: .ci_support/environment.yml
        use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
    
    - name: run tests
      run: |
        pip install -e .
        pip install pytest
        pip install pytest-cov
        pytest --cov-report=xml --cov=pyscal tests/

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: coverage.xml
        name: codecov-umbrella
        fail_ci_if_error: true
    
